<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List of User Details</title>
<style>

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: yellow;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
html {
  background-color: lightblue;
}
a {
  color: red;
}

</style>
</head>
<body>
<div align="right"><a th:href="@{'/'}"><button type="submit">LogOut</button></a></div>
<div align="center"><br>
 <h1  style="background-color:gray;color: white;">Access to Admin</h1>
   <a th:href="@{'/newUser'}">Insert New User Details</a><br><br>
     <table border="1" cellpadding="10" id="customers">
       <thead>
         <tr>
           <th>UserName</th>
           <th>Password</th>
           <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         <tr th:each="table:${u}">
            <td th:text="${table.username}"></td>
            <td th:text="${table.password}"></td>
            <td>
               <a th:href="@{'/update/' + ${table.username}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
               <a th:href="@{'/del/' + ${table.username}}">Delete</a>
           </td>
        </tr>
      </tbody>
    </table>
   <br> <div align="center"><a th:href="@{'/AdminAccess'}"><button type="submit">Back</button></a></div>
  </div>

</body>
</html>