<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
body { background-color:rgb(210, 210, 210);}
</style>
</head>
<body>
<div align="center"><br><br><br><br><br><br><br><br><br>
<h1>Invalid Crendentials....!</h1>
<h3>Please Check Your Username and Password <br><br>(or) </h3>
<h3>To Create User Details
<a th:href="@{'/newUser'}"><button type="submit">User Registration</button></a></h3>
</body>
</html>